#login{
    width: 100%;
    height: 100%;
    background-image:url('../assets/login-bg.jpg');
    background-size: 100%;
}
.login-form{
    position: absolute;
    top: calc(50% - 170px);
    left: calc(50% - 190px);
    width: 380px;
    height: 340px;
    background-color: #ffffff50;
    border-radius: 10px;
    color: #fff;
}
.login-form-title{
    padding:10px 0;    
    font-size: 18px;
    text-align: center;
    border-bottom: 2px solid #bae7ff;
}
.login-form-box{
    padding: 0 24px;
    
}
.login-form-box .ant-form-item-required{
    color: #fff;
}
.login-form-box .remember{
    text-align: right;
    color: #fff;
    margin-bottom: 10px;
}
.login-form-box .loginBtn{
    text-align: center;
}